@model IEnumerable<RollCallVersion9.Models.Lecture>

@{
    ViewBag.Title = "Index";
}

<h2>Lectures</h2>

<p>
    <a class="btn btn-info btn-sm" @Html.ActionLink("Create New", "Create") </a>
</p>
<table class="table">
    <tr>
        <th>
            Take Attendance
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.attended)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>    
        <td>

        @Html.ActionLink("Take Attendance", "Attendance", new { id = item.LectureId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LectureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.attended)
        </td>*@
        <td>
            <div class="btn-group">
                <a href="#" class="btn btn-info">Options</a>
                <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.LectureId })</li>
                    <li>@Html.ActionLink("Details", "Details", new { id = item.LectureId }) </li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.LectureId })</li>

                </ul>
            </div>

        </td>
    </tr>
}

</table>
